[Unit]
Description=Orchestra cold backup to walnutpi
OnFailure=orchestra-backup-alert.service

[Service]
Type=oneshot
User=liuxfs
ExecStart=/bin/bash /home/liuxfs/broker/backup_to_nas.sh
