[Unit]
Description=Orchestra Yuketang exam watch

[Timer]
OnBootSec=10min
OnUnitActiveSec=10min
Persistent=true
Timezone=Asia/Shanghai

[Install]
WantedBy=timers.target
